{% extends 'flatpages/default.html' %}

{% block title %}
{% endblock title %}
{% block content %}
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">
                </h1>
                <p class="fs-4">
                    <h1>{{ post.title }}</h1>
                    <br>
                    <h5>{{ post.text }}</h5>
                    <h5>Автор: {{ post.author.user.username }}</h5>
                    <p>{{ post.creating_dt|date:"d M Y" }}<p>
                </p>
            </div>
        </div>
    </div>
</header>
{% endblock content %}